.newTask {
  display: flex;
  flex-direction: column;
  grid-area: newTask;
  padding: 1.2rem;
  border-radius: 1rem;
  background-color: #efefef;
  box-shadow: 0rem 0.4rem 1rem hsla(209, 85%, 11%, 0.5);

  .inputContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 1.2rem;

    label {
      margin-bottom: 0.8rem;
      font-size: 1.2rem;
    }

    input {
      width: 100%;
      padding: 0.8rem 1.2rem;
      border: none;
      border-radius: 0.4rem;

      &::placeholder {
        font-size: 1.2rem;
        color: #041c32;
      }
    }
  }

  @media screen and (min-width: 1280px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    font-size: 2.25rem;
    padding: 2.4rem;
    box-sizing: border-box;

    .inputContainer {
      width: calc(60% - 1.2rem);

      &:last-of-type {
        width: 40%;
      }

      label {
        font-size: 1.6rem;
      }

      input {
        height: 100%;
        font-size: 1.75rem;
      }
    }

    button {
      font-size: 1.6rem;
    }
  }
}
