@import url("https://fonts.googleapis.com/css2?family=Manjari&display=swap");

#root {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body * {
  font-size: 1.6rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: #041c32;
}

body {
  display: grid;
  place-content: center;
  height: 100%;
  width: 100%;
  padding: 1rem;
  background: #efefef;
}

ol,
ul {
  list-style: none;
}

input {
  font-family: inherit;
  color: inherit;
}

button {
  border: none;
  font-family: inherit;
  font-weight: inherit;
}

@media screen and (min-width: 1280px) {
  body {
    padding: 1.6rem;
    height: 100%;
  }
}
